<div class="p-4">
  <h2>JRVNCRLS</h2>

  <div class="d-flex justify-content-center">
    <div class="signup-form">
      <h3 class="mb-4">Sign up</h3>

      <form [formGroup]="signupForm" action="">
        <fieldset>
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              class="form-control"
              id="username"
              placeholder="Username"
              formControlName="username"
              autocomplete="off"
            />
            <div
              class="invalid-feedback d-block"
              *ngIf="
                signupForm.get('username')?.invalid &&
                (signupForm.get('username')?.touched ||
                  signupForm.get('username')?.value)
              "
            >
              <span *ngIf="signupForm.get('username')?.hasError('required')"
                >Username is required.</span
              >
              <span *ngIf="signupForm.get('username')?.hasError('minlength')"
                >Username length must be at least 5 characters.</span
              >
              <span *ngIf="signupForm.get('username')?.hasError('maxlength')"
                >Username length must not exceed 20 characters.</span
              >
            </div>
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              placeholder="Password"
              formControlName="password"
              autocomplete="off"
            />
            <div
              class="invalid-feedback d-block"
              *ngIf="
                signupForm.get('password')?.invalid &&
                (signupForm.get('password')?.touched ||
                  signupForm.get('password')?.value)
              "
            >
              <span *ngIf="signupForm.get('password')?.hasError('required')"
                >Password is required.</span
              >
              <span *ngIf="signupForm.get('password')?.hasError('minlength')"
                >Password length must be at least 8 characters.</span
              >
            </div>
          </div>
        </fieldset>

        <p class="has-account">
          Already have an account? <a href="/login">Login here</a>
        </p>

        <div class="row">
          <div class="col-12">
            <button
              class="btn btn-primary signup-btn"
              [disabled]="signupForm.invalid"
              (click)="onSignUpClick()"
            >
              Sign Up
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
